@import "_mixins/font-face";

@include font-face("Roboto", "../fonts/RobotoRegular");
@include font-face("Roboto", "../fonts/RobotoBold", 700);


// Common weight name mapping
// The numerical values 100 to 900 roughly correspond to the following common weight names:

// Value	Common weight name
// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)