$default-font: 'OpenSans', sans-serif;
$accent-color: #fd4f32;
$bg-color-gray: #eee;
$bg-color-gray-dark: #a9a9a9;
$bg-color-gray-darkest: #323232;
$text-color-main: #8b8b8b;
$text-color-darker: #696969;
$text-color-title: #323232;
$white: #fff;
$black: #000;
