@import 'vars';
@import 'fonts';
@import 'libs';

::placeholder {
  color: $text-color-main;
}

::selection {
  background-color: $accent-color;
  color: #fff;
}

html {
  font-size: 16px;
  line-height: 1.65;
  font-family: $default-font;
  color: $text-color-main;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  input,
  textarea {
    border: 0;
    font-weight: 400;
    outline: none;
    padding: 10px;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.color-white {
  color: $white;
}

.grow {
  transition: all 0.3s ease;
}
.grow:hover {
  transform: scale(1.05);
}

.flex-column-center {
  display: flex;
  //flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-form {
  display: flex;
  justify-content: center;
  width: 447px;
}

.center-form__text-input {
  flex-grow: 1;
  &--gray {
    background-color: $bg-color-gray;
  }
}

.center-form__submit-button {
  padding: 10px 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $accent-color;
}

#main-wrapper {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
  max-width: 1200px;
  position: relative;
  background-color: #ffffff;
}

section {
  padding: 60px 100px;
}

a {
  text-decoration: none;
  &.h2,
  &.h3 {
    transition: all 0.2s ease;
    &:hover {
      font-weight: bold;
    }
    &::after {
      display: block;
      content: attr(title);
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
.h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 3.25rem;
}

h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  color: #323232;
}

h3,
.h3 {
  font-size: 0.875rem;
  color: #323232;
}

// Main Menu

.hamburger {
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  z-index: 100;
  & span,
  &:before,
  &:after {
    content: ' ';
    display: block;
    width: 30px;
    height: 1px;
    background-color: $white;
    transform: rotate(0);
    position: absolute;
    left: 10px;
    transition: all 300ms ease-in-out;
  }

  &:before {
    top: 16px;
  }
  & span {
    top: 25px;
    opacity: 1;
  }
  &:after {
    bottom: 15px;
  }

  &.active span {
    opacity: 0;
    top: 25px;
    transform: rotate(90deg);
  }
  &.active:before {
    width: 34px;
    top: 25px;
    left: 8px;
    transform: rotate(45deg);
  }
  &.active:after {
    width: 34px;
    bottom: 24px;
    left: 8px;
    transform: rotate(-45deg);
  }
}

#main-nav {
  margin: 0 100px 0 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  align-self: center;
  height: 50px;
}

.main-nav__list {
  display: flex;
  justify-content: flex-end;
}

.main-nav__item {
  margin-left: 50px;
  .h3 {
    color: $white;
  }
}

// Header

header {
  background: $bg-color-gray url(../img/header.jpg) no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__top-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  align-self: flex-start;
  position: absolute;
  z-index: 100;
}

.logo {
  margin: 0 0 0 100px;
  align-self: center;
  line-height: 1;
}

.header__middle-composition {
  color: $white;
}

// Section Destinations

.s-destinations {
  min-height: 425px;
  background-color: $bg-color-gray;
}

.s-destinations__description {
  margin-top: 0;
}

.destinations__container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.destinations__item {
  margin: 5px;
  width: 240px;
  background-color: $white;
}

.destinations__item__img-holder {
  position: relative;
  height: 200px;
}

.destinations__item__info-holder {
  padding: 17px;
}

.destinations__item__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
}

.destinations__item__description {
  margin: 0;
  font-size: 0.8125rem;
  color: $text-color-darker;
}

.destinations__item__price {
  position: absolute;
  bottom: 14px;
  right: 15px;
  font-family: 'Montserrat', serif;
  font-weight: 400;
  font-size: 12px;
  color: $white;
}

// Section Articles

.s-articles {
  min-height: 540px;
}

.s-articles__title {
  color: $text-color-title;
  margin-bottom: 50px;
}

.s-articles__container {
  display: flex;
  justify-content: space-between;
}

.s-articles__item {
  width: 282px;
}

.s-articles__item__description {
  font-size: 0.9375rem;
}

.subscribe-composition {
  margin-top: 75px;
}

// Footer
.footer {
  min-height: 72px;
  background-color: $bg-color-gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.footer__copyright {
  font-size: 0.875rem;
  margin-right: 10px;
  text-align: center;
}

.br-on-mobile {
  display: none;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-left: 10px;
  width: 350px;
}

@import 'media'; // Always at the end
